<section th:fragment="footer" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="margin-top-15"></div>

    <div id="footer">
        <!-- Main -->
        <div class="container">



        </div>

        <!-- Bottom -->
        <div class="container">



            <div class="footer-bottom">



                <div class="sixteen columns">

                    <div class="three columns">
                        <h4>Company</h4>
                        <ul class="footer-links">
                            <li><a th:href="@{/under-construction}">About Us</a></li>
                            <li><a th:href="@{/under-construction}">Terms of Service</a></li>
                            <li><a th:href="@{/under-construction}">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <h4>Follow Us</h4>
                    <ul class="social-icons">
                        <li><a class="facebook" th:href="@{/under-construction}"><i class="icon-facebook"></i></a></li>
                        <li><a class="twitter" th:href="@{/under-construction}"><i class="icon-twitter"></i></a></li>
                        <li><a class="gplus" th:href="@{/under-construction}"><i class="icon-gplus"></i></a></li>
                        <li><a class="linkedin" th:href="@{/under-construction}"><i class="icon-linkedin"></i></a></li>
                    </ul>
                    <div class="copyrights">© Copyright 2015 by <a th:href="@{/under-construction}">Work Scout</a>. All
                        Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>