<section th:fragment="header" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="sixteen columns">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="/"><img src="/images/logo.png" alt="Work Scout"/></a></h1>
            </div>

            <!-- Menu -->
            <nav id="navigation" class="menu">
                <ul id="responsive">

                    <li><a th:href="@{/candidate/messages}">Messages</a>
                    </li>

                    <li><a th:href="@{/candidate/interviews}">My Interviews</a>
                    </li>


                    <li><a th:href="@{/under-construction}">Support</a></li>
                </ul>


                <ul class="responsive float-right">
                    <li><a th:href="@{/candidate/account}"><i class="fa fa-sign-out"></i> PROFILE</a></li>
                    <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i> LOG OUT</a></li>
                </ul>

            </nav>

            <!-- Navigation -->
            <div id="mobile-navigation">
                <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
            </div>

        </div>
    </div>
</section>