<!DOCTYPE html>
<!--&lt;!&ndash;[if IE 8 ]>-->
<!--<html class="ie ie8" lang="en"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gte IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<html lang="en"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/home">

<section layout:fragment="content" th:remove="tag">

    <!-- Slider
    ================================================== -->
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>

                <!-- Slide 1 -->
                <li data-fstransition="fade" data-transition="fade" data-slotamount="10" data-masterspeed="300">

                    <img src="images/banner-01.jpg" alt=""/>

                    <div class="caption title sfb" data-x="0" data-y="195" data-speed="400" data-start="800"
                         data-easing="easeOutExpo">
                        <h2>Messages, coming soon ... </h2>
                    </div>

                    <div class="caption text sfb" data-x="0" data-y="270" data-speed="400" data-start="1200"
                         data-easing="easeOutExpo">
                        <p>April, 12, 20017<br>Monday</br></p>
                    </div>

                    <div class="caption sfb" data-x="0" data-y="400" data-speed="400" data-start="1600"
                         data-easing="easeOutExpo">
                        <a th:href="@{/candidate/account}" class="slider-button">Get Started</a>
                    </div>
                </li>

                <!-- Slide 2 -->
                <li data-transition="slideup" data-slotamount="10" data-masterspeed="800">
                    <img src="images/banner-02.jpg" alt=""/>

                    <div class="caption title sfb" data-x="center" data-y="195" data-speed="400" data-start="800"
                         data-easing="easeOutExpo">
                        <h2>Get hired by great companies</h2>
                    </div>

                    <div class="caption text align-center sfb" data-x="center" data-y="270" data-speed="400"
                         data-start="1200" data-easing="easeOutExpo">
                        <p>Most trusted job board, connecting the world's <br> brightest minds with resume database
                            loaded with talents.</br></p>
                    </div>

                </li>

            </ul>
        </div>
    </div>

    <!-- Container / End -->

</section>
</html>