<!DOCTYPE html>
<!--&lt;!&ndash;[if IE 8 ]>-->
<!--<html class="ie ie8" lang="en"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gte IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<html lang="en"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/home">

<section layout:fragment="content" th:remove="tag">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single">
        <div class="container">

            <div class="sixteen columns">
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Request password reset.</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">
        <div class="my-account">
            <ul class="tabs-nav">
                <li>Lost password</li>
                <li>Send your username and we will send you instructions for password recovery.</li>
            </ul>
            <div class="tabs-container" id="tabs-container">
                <!-- Login -->
                <div class="tab-content" id="tab1" style="display: none;">

                    <form
                            th:action="@{/recover-password}"
                            th:object="${username}"
                            method="post"
                            class="register">

                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <p class="form-row form-row-wide">
                            <label for="usernameRepeat">Username:
                                <i class="ln ln-icon-Male"></i>
                                <input th:field="*{type}"
                                       th:type="text" class="input-text"
                                       name="usernameRepeat" id="usernameRepeat"
                                       />
                            </label>
                        </p>
                        <p class="form-row">
                            <input type="submit" class="button border fw margin-top-10" name="send" value="Send"/>

                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</html>