<!DOCTYPE html>
<!--&lt;!&ndash;[if IE 8 ]>-->
<!--<html class="ie ie8" lang="en"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gte IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<html lang="en"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/home">

<section layout:fragment="content" th:remove="tag">

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single">
        <div class="container">

            <div class="sixteen columns">
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a th:href="@{/}">Home</a></li>
                        <li>Create New Password</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">
        <div class="my-account">
            <ul class="tabs-nav">
                <li>Reset password</li>
            </ul>
            <div class="tabs-container" id="tabs-container">
                <!-- Login -->
                <div class="tab-content" id="tab1" style="display: none;">
                    <div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
                        <form
                                th:action="@{/update-password}"
                                th:object="${passwordModel}"
                                method="post"
                                class="register"
                        >
                            <label for="password">New password</label>
                            <input id="password" name="newPassword" type="password"
                                   th:field="*{newPassword}"/>

                            <label for="matchPassword">Confirm password</label>
                            <input id="matchPassword" type="password"
                                   th:field="*{newPassword}"/>


                            <p class="form-row">
                                <input type="submit" class="button border fw margin-top-10" name="submit" value="SUBMIT"/>
                            </p>

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

</html>